* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  user-select: none;
}
/* root styles*/
:root {
  --hue-neutral: 200;
}

p {
  margin: 10px;
  padding: 10px;
}

/* body styles*/
//*body {
  position: relative;
  background-color: blue;
  height: auto;
  width: 900px;
  margin: 30px auto;
}
/* header styles*/
#h1 {
  position: relative;
  text-align: center;
  background-color: blue;
  border-radius: 40px;
}
.qp {
  text-align: center;
}
/* container styles*/
.container {
  width: 800px;
  position: relative;
  height: auto;
  background-color: aquamarine;
  border-radius: 40px;
  margin: 30px auto;
  box-shadow: 0 0 10px 2px;
}
/* body styles*/
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}
/* buttons styles*/
.button {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
/* tracker styles*/
#tracker {
  position: relative;
  margin: 20px 10px 10px 10px;
  padding: 0 10px 0px 10px;  
}
/* nos styles*/
.nos{
position: relative;
display: inline-block;
width: 50px;
height: 50px;
background-color: lightgray;
border-radius: 50%;
text-align: center;
color: navy;
padding: 15px;
margin: 0px 50px 50px 50px;
font-weight: bolder ;
font-size: 22px;
border: 1.5px solid navy;


}


/* btn-hover styles*/
.button:hover {
  background-color: aliceblue;
}
/* start&next styles*/
.start-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}

#retake {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}

/* controls styles*/
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* hide styles*/
.hide {
  display: none;
}
