* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  user-select: none;
}
/* root styles*/
:root {
  --hue-neutral: 200;
}

p {
  margin: 10px;
  padding: 10px;
}

/* body styles*/
//*body {
  position: relative;
  background-color: blue;
  height: auto;
  width: 900px;
  margin: 30px auto;
}
/* header styles*/
#h1 {
  position: relative;
  text-align: center;
  background-color: blue;
  border-radius: 40px;
}
.qp {
  text-align: center;
}
/* container styles*/
.container {
  width: 800px;
  position: relative;
  height: auto;
  background-color: aquamarine;
  border-radius: 40px;
  margin: 30px auto;
  box-shadow: 0 0 10px 2px;
}
/* body styles*/
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}
/* opitions styles*/
.opitions {
position: relative;
width: 550px;
margin-top: 15px ;
}
/* buttons styles*/
.button {
  position: relative;
  width: 250px;
  height: auto;
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 75px;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  margin: 10px;

}


/* tracker styles*/
#tracker {
  position: relative;
  margin: 20px 10px 10px 10px;
  padding: 0 10px 0px 10px;  
}
/* nos styles*/
.nos{
position: relative;
display: inline-block;
width: 50px;
height: 50px;
background-color: lightgray;
border-radius: 50%;
text-align: center;
color: navy;
padding: 15px;
margin: 0px 50px 50px 50px;
font-weight: bolder ;
font-size: 22px;
border: 1.5px solid navy;


}
/* h1 styles*/
hr {

  border: 2px solid crimson;
}
/* quizset styles*/
#questions {
  position: relative;
  color: white;
  font-size: 35px;
  font-weight: bolder;
  text-align: left;
  margin-left: 10px;
}





/* btn-hover styles*/
.button:hover {
  background-color: aliceblue;
}
/* start&next styles*/
.start-btn {
  position: relative;
  float: center;
  background-color: lightgray;
  color: navy;
  width: 230px;
  padding: 7px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 28px;
  box-shadow:2px 2px 0px 0px ;
  margin: 5px 0px 0px 10px;
  text-align: center;
}

.next-btn {
  position: relative;
  float: right;
  background-color: lightgray;
  color: navy;
  width: 230px;
  padding: 7px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 28px;
  box-shadow:2px 2px 0px 0px ;
  margin: 5px 0px 0px 10px;
  text-align: center;
}
.next-btn:hover {
background-color: darkgray;
}

#retake {
 
}

#quizSet {
  display: none;
}
/* footer & progress & timer styles*/
footer {
position: relative;
}
#progress {
  position: relative;
  color: white;
}
#timer {
  display: flex;
  justify-content: center;
  align-items: center;

}


/* controls styles*/
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* hide styles*/
.hide {
  display: none;
}
